{% extends "layout.njk" %}

{% set title = 'Appeal view' %}

{% set heading %}
  Appeal {{ appeal.id }} details
{% endset %}

{% block content %}

  <p>
    <a class="button" href="/appeals">Back to appeal list</a>
  </p>

{% if appeal.status == 'AWAITING_PAYMENT' %}
  <div class="panel panel-border-wide">
    <p>
      WARNING. Your appeal will not be processed until you pay for it.
      Please click <a href="{{ appeal.paymentUrl }}">here</a> to pay.
    </p>
  </div>
{% endif %}

{% if appeal.status == 'PAID' %}
  <div class="panel panel-border-wide">
    <p>
      We have received your payment and are currently processing your appeal.
    </p>
  </div>
{% endif %}

  <table>
    <tbody>
      <tr>
        <td><span class="bold">Type</span></td>
        <td>{{ appeal.type }}</td>
      </tr>
      <tr>
        <td><span class="bold">Description</span></td>
        <td>{{ appeal.description }}</td>
      </tr>
  </table>


{% endblock %}
