{% extends "../layout.njk" %}

{% set title = 'Registration Confirmation' %}
{% set heading = 'Account created' %}

{% block content %}
  <p>You account has been created.</p>
  <p>You'll need to activate your account before first use.</p>
{% endblock %}
